@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    border: 0px;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
}

.logoNav {
    position: absolute;
    left: 48%;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.menuNav {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 40px;
}

.cerca {
    width: 79px;
    transition: width 1s;
    color: black;
}

.cerca:hover {
    width: 200px;
    transition: width 1s;
}

.navv {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 3px;
    background-color: #ffffff;
    border: 0.5px solid black;
    align-items: center;
}

.Register {
    padding-right: 40px;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    padding: 0px;
}

li,
i {
    padding-right: 20px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    cursor: pointer;
    font-family: Quick;
}

li:hover {
    color: rgb(167, 167, 167);
}

i:hover {
    color: rgb(167, 167, 167);
}

nav {
    display: flex;
    justify-content: space-between;
    z-index: 3;
    height: 60px;
}


video {
    filter: brightness(0.8);
}

.box2 {
    width: 100vw;
    height: 0vh;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 5px;
}

.ContainerAllCard {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 5px;
    z-index: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    width: auto;
    height: auto;
}

.h1AllCard {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-family: Quick;
}

.boxVideo {
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5px;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.TextLogo {
    color: #ffffff;
    font-size: 220px;
    font-family: cinzel;
    position: absolute;
    bottom: -69px;
    margin: 0px;
}

.box {
    display: flex;
    overflow-x: scroll;
    width: 100vw;
    height: 40vh;
    padding: 0px;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alex {
    animation-name: slide;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
}

.alex:hover {
    animation-play-state: paused;
}


@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-70%);
    }
}

.containerImgTop {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 150px;
    transition-duration: 1s, 1s;
}

.containerImgTop:hover {
    transform: translatey(-30px);
    cursor: pointer;
    transition-duration: 1s, 1s;
}



.buttonTop {
    color: black;
    background-color: #ffffff;
    border: none;
    border: 0.5px solid black;
    border-radius: 5px;
    width: 200px;
    font-size: 12px;
    padding: 10px 12px;
    position: relative;
    top: 90px;
    font-family: Quick;
    margin-bottom: 30px;
}

.buttonTop:hover {
    background-color: #000000;
    color: #ffffff;
}

.row {
    bottom: 430px;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    z-index: 1;
    margin-top: 150px;
}

.ContainerCard {
    width: 90%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    border: 0px;
    margin: 15px;
    margin-left: 27px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ContainerCard:hover {
    border: 1px black solid;
    padding: 10px;
}

.boom {
    width: 100%;
    background-size: contain;
    height: 80%;
    background-position: center;
    transition-duration: 0.3s;
    background-position: center;
    background-repeat: no-repeat;

}

.boom:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    background-size: contain;
    background-image: url(./A/fata1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.ContainerFilter {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 95%;
    height: 60px;
    position: relative;
    top: 120px;

}

.BoxFilter {
    width: max(50%) 1px;
    height: 40px;
    border: 1px black solid;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    outline: none;
    padding-top: 20px;
}

.BoxFilter p {
    padding-right: 10px;
    margin: 0px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: Quick;
    padding-bottom: 8px
}

.BoxFilter select {
    width: 100%;
    border: none;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0.5px solid black;
    border-radius: 5px;
}

.BoxFilter input {
    width: 100%;
    border: none;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0.5px solid black;
    border-radius: 5px;
    height: 20px;
}

.Cerca {
    width: 150px;
    height: 40px;
    border: none;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family: Quick;
    font-size: 12px;

}

.Cerca:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}




.LineCard {
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 8px;
}

.ContainerCardText {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.DescriptionProduct {
    font-size: 12px;
    margin: 0px;
    font-family: Quick;
    font-weight: 900;
}

.PriceCard {
    font-size: 11px;
    font-family: Quick;
}

.ButtonCard {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    font-family: Quick;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    font-size: 12px;
}

.ButtonCard:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}



.bambam::-webkit-input-placeholder {
    font-family: Quick;
    font-size: 12px;
}

footer {
    background-color: black;
    width: 100%;
    height: 200px;
}

.MenuMobile {
    display: none;
    padding-left: 35px;
    z-index: 33;
}

.mobileNascosto {
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 90px;
    text-align: center;
    display: none;
}

@media screen and (max-width: 1117px) {
    .TextLogo {
        font-size: 170px;
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 900px) {
    .TextLogo {
        font-size: 120px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .menuNav {
        display: none;
    }

    .MenuMobile {
        display: block;
    }

    .TextLogo {
        font-size: 80px;
        margin-bottom: 43px;
    }

    .logoNav {
        position: absolute;
        left: 44%;
    }

    .registrati {
        display: none;
    }

    .cerca:hover {
        width: 120px;
        transition: width 1s;
    }

}

.MenuMobileEsc {
    transition-duration: 0.3s;
    font-family: Quick;
    padding-left: 15px;
}

.magia {
    width: 100%;
    height: 158px;
   
    background-color: rgb(221, 221, 221);
   color: rgb(0, 0, 0);
    margin-top: 14px; 
    text-align: center;
    display: none;
   padding: 10px;
  font-size: 12px;
 
}
